In [1]:
from flask import jsonify
from connect_db import execute_query
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pickle
from app import app  # Importer l'application Flask

c:\Users\antho\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.3.0 when using version 1.4.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\antho\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator RandomForestRegressor from version 1.3.0 when using version 1.4.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\antho\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LinearRegression from version 1.3.0 when using version 1.4.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [2]:
with app.app_context():
    query = "SELECT * FROM clean_olympic_results"
    data = execute_query(query)
    json_data = jsonify(data)
    
    # Extraire les données JSON de l'objet Response
    real_data = json_data.get_json()
    real_data

Connexion réussie
Connexion fermée

In [3]:
results = pd.DataFrame(real_data)
results.head()

,athletes,country_3_letter_code,country_code,country_name,discipline_title,event_title,id,medal_type,participant_type,rank_equal,rank_position,slug_game
0,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",ESP,ES,Spain,Shooting,Trap Mixed Team,1,GOLD,GameTeam,0,1,tokyo-2020
1,"[('Alessandra PERILLI', 'https://olympics.com/...",SMR,SM,San Marino,Shooting,Trap Mixed Team,2,SILVER,GameTeam,0,2,tokyo-2020
2,"[('Madelynn Ann BERNAU', 'https://olympics.com...",USA,US,United States of America,Shooting,Trap Mixed Team,3,BRONZE,GameTeam,0,3,tokyo-2020
3,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",SVK,SK,Slovakia,Shooting,Trap Mixed Team,4,AUCUNE,GameTeam,0,4,tokyo-2020
4,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",JPN,JP,Japan,Shooting,Trap Mixed Team,5,AUCUNE,GameTeam,0,5,tokyo-2020

In [4]:
category_list = results['event_title'].unique()
category_list

array(['Trap Mixed Team', '50m Rifle 3 Positions women',
       '50m Rifle 3 Positions Men', ..., 'army rifle 300m men',
       'Unlimited Class, Greco-Roman Men',
       'heavyweight - one hand lift men'], dtype=object)

In [5]:
for cat in category_list:
    if "women" in cat.lower():
        results['event_title'].replace(cat, 'women', inplace=True)
    elif ' men' in cat.lower():
        results['event_title'].replace(cat, 'Man', inplace=True)
    elif 'Men' in cat:
        results['event_title'].replace(cat, 'Man', inplace=True)
    elif 'Me' in cat:
        results['event_title'].replace(cat, 'Man', inplace=True)
    elif ' M' in cat:
        results['event_title'].replace(cat, 'Man', inplace=True)
    elif 'mixed team' in cat.lower():
        results['event_title'].replace(cat, 'mixedT', inplace=True)
    elif 'individual' in cat.lower():
        results['event_title'].replace(cat, 'individual', inplace=True)
    elif 'one' in cat.lower():
        results['event_title'].replace(cat, 'individual', inplace=True)
    elif 'single' in cat.lower():
        results['event_title'].replace(cat, 'individual', inplace=True)
    elif ' Ind' in cat:
        results['event_title'].replace(cat, 'individual', inplace=True)
    elif 'mixed' in cat.lower():
        results['event_title'].replace(cat, 'mixedT', inplace=True)
    elif 'team' in cat.lower():
        results['event_title'].replace(cat, 'team', inplace=True)
    elif 'group' in cat.lower():
        results['event_title'].replace(cat, 'team', inplace=True)
    elif 'tea' in cat.lower():
        results['event_title'].replace(cat, 'team', inplace=True)
    elif ' T' in cat:
        results['event_title'].replace(cat, 'team', inplace=True)
    else:
        results['event_title'].replace(cat, 'team', inplace=True)

In [6]:
results['slug_game'] = results['slug_game'].apply(lambda x: int(x.split('-')[-1]))

In [7]:
i=0
for cat in results['event_title'].unique():
    results.loc[results['event_title'] == cat, 'cat'] = i
    i+=1
for sport in results['discipline_title'].unique():
    results.loc[results['discipline_title'] == sport, 'sport'] = i
    i+=1  
for country in results['country_name'].unique():
    results.loc[results['country_name'] == country, 'country'] = i
    i+=1
results

,athletes,country_3_letter_code,country_code,country_name,discipline_title,event_title,id,medal_type,participant_type,rank_equal,rank_position,slug_game,cat,sport,country
0,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",ESP,ES,Spain,Shooting,Man,1,GOLD,GameTeam,0,1,2020,0.0,5.0,76.0
1,"[('Alessandra PERILLI', 'https://olympics.com/...",SMR,SM,San Marino,Shooting,Man,2,SILVER,GameTeam,0,2,2020,0.0,5.0,77.0
2,"[('Madelynn Ann BERNAU', 'https://olympics.com...",USA,US,United States of America,Shooting,Man,3,BRONZE,GameTeam,0,3,2020,0.0,5.0,78.0
3,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",SVK,SK,Slovakia,Shooting,Man,4,AUCUNE,GameTeam,0,4,2020,0.0,5.0,79.0
4,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",JPN,JP,Japan,Shooting,Man,5,AUCUNE,GameTeam,0,5,2020,0.0,5.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118350,,AUS,AU,Australia,Equestrian Jumping,individual,118351,AUCUNE,Athlete,0,0,1976,4.0,54.0,81.0
118351,,AUT,AT,Austria,Equestrian Jumping,individual,118352,AUCUNE,Athlete,0,0,1976,4.0,54.0,124.0
118352,,BOL,BO,Bolivia,Equestrian Jumping,individual,118353,AUCUNE,Athlete,0,0,1976,4.0,54.0,236.0
118353,,ESP,ES,Spain,Equestrian Jumping,individual,118354,AUCUNE,Athlete,0,0,1976,4.0,54.0,76.0
118354,,FRA,FR,France,Gymnastics Artistic,team,118355,AUCUNE,GameTeam,0,1,1900,2.0,55.0,105.0

In [8]:
json_data = {
    'country': {},
    'sport': {},
    'cat': {}
}
json_data

{'country': {}, 'sport': {}, 'cat': {}}

In [9]:
for i in range(len(results)):
    if results['country'][i] not in json_data['country']:
        json_data['country'][results['country'][i]] = results['country_name'][i]
    if results['sport'][i] not in json_data['sport']:
        json_data['sport'][results['sport'][i]] = results['discipline_title'][i]
    if results['cat'][i] not in json_data['cat']:   
        json_data['cat'][results['cat'][i]] = results['event_title'][i]
json_data

{'country': {76.0: 'Spain',
  77.0: 'San Marino',
  78.0: 'United States of America',
  79.0: 'Slovakia',
  80.0: 'Japan',
  81.0: 'Australia',
  82.0: "People's Republic of China",
  83.0: 'Great Britain',
  84.0: 'ROC',
  85.0: 'Italy',
  86.0: 'Mexico',
  87.0: 'Egypt',
  88.0: 'Belarus',
  89.0: 'Islamic Republic of Iran',
  90.0: 'Switzerland',
  91.0: 'Norway',
  92.0: 'Serbia',
  93.0: 'Germany',
  94.0: 'Indonesia',
  95.0: 'Czech Republic',
  96.0: 'Mongolia',
  97.0: 'Puerto Rico',
  98.0: 'Poland',
  99.0: 'Republic of Korea',
  100.0: 'Uzbekistan',
  101.0: 'Malaysia',
  102.0: 'Slovenia',
  103.0: 'Hungary',
  104.0: 'Cuba',
  105.0: 'France',
  106.0: 'India',
  107.0: 'Denmark',
  108.0: 'Croatia',
  109.0: 'Ukraine',
  110.0: 'Oman',
  111.0: 'Argentina',
  112.0: 'Turkey',
  113.0: 'Kazakhstan',
  114.0: 'Venezuela',
  115.0: 'Lithuania',
  116.0: 'Estonia',
  117.0: 'Colombia',
  118.0: 'Azerbaijan',
  119.0: 'Peru',
  120.0: 'Pakistan',
  121.0: 'Thailand',
  122.0: 'Israel',
  123.0: 'Philippines',
  124.0: 'Austria',
  125.0: 'Chinese Taipei',
  126.0: 'Bangladesh',
  127.0: 'Afghanistan',
  128.0: 'Kosovo',
  129.0: 'Romania',
  130.0: 'Singapore',
  131.0: 'Belgium',
  132.0: 'Bhutan',
  133.0: 'Algeria',
  134.0: 'Sri Lanka',
  135.0: 'Kyrgyzstan',
  136.0: 'Bosnia and Herzegovina',
  137.0: 'Nepal',
  138.0: 'Refugee Olympic Team',
  139.0: 'Ireland',
  140.0: 'Portugal',
  141.0: 'Qatar',
  142.0: 'Kuwait',
  143.0: 'Cyprus',
  144.0: 'Morocco',
  145.0: 'Bahrain',
  146.0: 'Senegal',
  147.0: 'New Zealand',
  148.0: 'Chile',
  149.0: 'Guatemala',
  150.0: 'Lebanon',
  151.0: 'Finland',
  152.0: 'Bulgaria',
  153.0: 'Iraq',
  154.0: 'Ecuador',
  155.0: 'Greece',
  156.0: 'Albania',
  157.0: 'Latvia',
  158.0: 'Jordan',
  159.0: 'Yemen',
  160.0: 'Tunisia',
  161.0: 'Georgia',
  162.0: 'Montenegro',
  163.0: 'Armenia',
  164.0: 'Malta',
  165.0: 'Canada',
  166.0: 'Republic of Moldova',
  167.0: 'Brazil',
  168.0: 'North Macedonia',
  169.0: 'Aruba',
  170.0: 'Myanmar',
  171.0: 'Vietnam',
  172.0: 'Nicaragua',
  173.0: 'Iceland',
  174.0: 'Saudi Arabia',
  175.0: 'Sweden',
  176.0: 'United Arab Emirates',
  177.0: 'Jamaica',
  178.0: 'Dominican Republic',
  179.0: 'Netherlands',
  180.0: 'South Africa',
  181.0: 'Nigeria',
  182.0: 'Sao Tome and Principe',
  183.0: 'Cook Islands',
  184.0: 'Samoa',
  185.0: 'Mozambique',
  186.0: 'Belize',
  187.0: 'Ethiopia',
  188.0: 'Eritrea',
  189.0: 'Trinidad and Tobago',
  190.0: 'Luxembourg',
  191.0: 'Costa Rica',
  192.0: 'Paraguay',
  193.0: 'Namibia',
  194.0: 'Hong Kong, China',
  195.0: 'Rwanda',
  196.0: 'Burkina Faso',
  197.0: 'Panama',
  198.0: 'Zambia',
  199.0: "Côte d'Ivoire",
  200.0: 'Honduras',
  201.0: 'Mauritius',
  202.0: 'Eswatini',
  203.0: 'Uganda',
  204.0: 'Cameroon',
  205.0: 'Haiti',
  206.0: 'Democratic Republic of the Congo',
  207.0: 'Tajikistan',
  208.0: 'Ghana',
  209.0: 'Kenya',
  210.0: 'Guyana',
  211.0: 'Burundi',
  212.0: 'Botswana',
  213.0: 'Cape Verde',
  214.0: 'Somalia',
  215.0: 'El Salvador',
  216.0: 'Antigua and Barbuda',
  217.0: 'Papua New Guinea',
  218.0: 'Liechtenstein',
  219.0: 'Angola',
  220.0: 'Fiji',
  221.0: 'Bermuda',
  222.0: 'Syrian Arab Republic',
  223.0: 'Vanuatu',
  224.0: 'Togo',
  225.0: 'Monaco',
  226.0: 'Andorra',
  227.0: 'Mali',
  228.0: 'Gabon',
  229.0: 'Niger',
  230.0: 'Tonga',
  231.0: 'Suriname',
  232.0: 'Maldives',
  233.0: 'Guinea-Bissau',
  234.0: 'Guam',
  235.0: 'Guinea',
  236.0: 'Bolivia',
  237.0: 'Zimbabwe',
  238.0: 'Chad',
  239.0: 'Kiribati',
  240.0: 'Comoros',
  241.0: 'Uruguay',
  242.0: 'Sierra Leone',
  243.0: 'Palestine',
  244.0: 'Sudan',
  245.0: 'Djibouti',
  246.0: 'Gambia',
  247.0: 'Malawi',
  248.0: 'Libya',
  249.0: 'Benin',
  250.0: 'Seychelles',
  251.0: "Lao People's Democratic Republic",
  252.0: 'Madagascar',
  253.0: 'Turkmenistan',
  254.0: 'Virgin Islands, US',
  255.0: 'Solomon Islands',
  256.0: 'Nauru',
  257.0: 'American Samoa',
  258.0: 'Virgin Islands, British',
  259.0: 'Lesotho',
  260.0: 'United Republic of Tanzania',
  261.0: 'Liberia',
  262.0: 'Bahamas',
  263.0: 'Dominica',
  264.0: 'Grenada',
  265.0: 'Saint Lucia',
  266.0: 'Russian Federation',
  267.0: 'Ivory Coast',
  268.0: 'Independent Olympic Athletes',
  269.0: "Democratic People's Republic of Korea",
  270.0: 'The Former Yugoslav Republic of Macedonia',
  271.0: 'Barbados',
  272.0: 'Cambodia',
  273.0: 'Equatorial Guinea',
  274.0: 'Congo',
  275.0: 'South Sudan',
  276.0: 'Refugee Olympic Athletes',
  277.0: 'Marshall Islands',
  278.0: 'Palau',
  279.0: 'Democratic Republic of Timor-Leste',
  280.0: 'US Virgin Islands',
  281.0: 'Federated States of Micronesia',
  282.0: 'Central African Republic',
  283.0: 'Cayman Islands',
  284.0: 'Brunei',
  285.0: 'Saint Vincent and the Grenadines',
  286.0: 'British Virgin Islands',
  287.0: 'Swaziland',
  288.0: 'Saint Kitts and Nevis',
  289.0: 'Tuvalu',
  290.0: 'Netherlands Antilles',
  291.0: 'Serbia and Montenegro',
  292.0: 'Unified Team',
  293.0: 'Czechoslovakia',
  294.0: 'Mauritania',
  295.0: 'Soviet Union',
  296.0: 'Federal Republic of Germany',
  297.0: 'German Democratic Republic (Germany)',
  298.0: 'Yugoslavia',
  299.0: 'Yemen Arab Republic',
  300.0: 'Yemen Democratic Republic',
  301.0: 'South Vietnam',
  302.0: 'Rhodesia',
  303.0: 'United Arab Republic',
  304.0: 'Malaya',
  305.0: 'West Indies Federation',
  306.0: 'North Borneo',
  307.0: 'Saar',
  308.0: 'Australasia',
  309.0: 'Bohemia',
  310.0: 'MIX',
  311.0: 'Newfoundland'},
 'sport': {5.0: 'Shooting',
  6.0: 'Diving',
  7.0: 'Canoe Sprint',
  8.0: 'Cycling Road',
  9.0: 'Football',
  10.0: 'Boxing',
  11.0: 'Artistic Swimming',
  12.0: 'Handball',
  13.0: 'Rugby Sevens',
  14.0: 'Cycling BMX Racing',
  15.0: 'Triathlon',
  16.0: 'Surfing',
  17.0: 'Table Tennis',
  18.0: 'Canoe Slalom',
  19.0: 'Marathon Swimming',
  20.0: 'Trampoline Gymnastics',
  21.0: 'Volleyball',
  22.0: 'Basketball',
  23.0: 'Taekwondo',
  24.0: 'Cycling Track',
  25.0: 'Fencing',
  26.0: 'Badminton',
  27.0: 'Water Polo',
  28.0: 'Sport Climbing',
  29.0: 'Wrestling',
  30.0: 'Tennis',
  31.0: 'Artistic Gymnastics',
  32.0: 'Golf',
  33.0: 'Cycling BMX Freestyle',
  34.0: 'Judo',
  35.0: 'Skateboarding',
  36.0: 'Archery',
  37.0: 'Weightlifting',
  38.0: 'Baseball/Softball',
  39.0: 'Equestrian',
  40.0: 'Modern Pentathlon',
  41.0: 'Athletics',
  42.0: 'Swimming',
  43.0: 'Sailing',
  44.0: 'Cycling Mountain Bike',
  45.0: 'Rowing',
  46.0: 'Karate',
  47.0: '3x3 Basketball',
  48.0: 'Rhythmic Gymnastics',
  49.0: 'Hockey',
  50.0: 'Beach Volleyball',
  51.0: 'Cycling BMX',
  52.0: 'Rugby',
  53.0: 'Gymnastics Rhythmic',
  54.0: 'Equestrian Jumping',
  55.0: 'Gymnastics Artistic',
  56.0: 'Synchronized Swimming',
  57.0: 'Trampoline',
  58.0: 'Equestrian Eventing',
  59.0: 'Equestrian Dressage',
  60.0: 'Baseball',
  61.0: 'Softball',
  62.0: 'Canoe Marathon',
  63.0: 'Polo',
  64.0: 'Ice Hockey',
  65.0: 'Tug of War',
  66.0: 'Equestrian  Vaulting',
  67.0: 'Figure skating',
  68.0: 'Jeu de Paume',
  69.0: 'Water Motorsports',
  70.0: 'Lacrosse',
  71.0: 'Rackets',
  72.0: 'Roque',
  73.0: 'Cricket',
  74.0: 'Croquet',
  75.0: 'Basque Pelota'},
 'cat': {0.0: 'Man',
  1.0: 'women',
  2.0: 'team',
  3.0: 'mixedT',
  4.0: 'individual'}}

In [10]:
import json

with open("dataModelSport.json", "w") as f:
    json.dump(json_data, f)

In [11]:
df = results.groupby(['discipline_title','cat', 'slug_game', 'country_name', 'country', 'medal_type']).size().unstack(fill_value=0).reset_index()
# df['slug_game'] = df['slug_game'].apply(lambda x: int(x.split('-')[-1]))
df

medal_type,discipline_title,cat,slug_game,country_name,country,AUCUNE,BRONZE,GOLD,SILVER
0,3x3 Basketball,0.0,2020,Belgium,131.0,1,0,0,0
1,3x3 Basketball,0.0,2020,Japan,80.0,1,0,0,0
2,3x3 Basketball,0.0,2020,Latvia,157.0,0,0,1,0
3,3x3 Basketball,0.0,2020,Netherlands,179.0,1,0,0,0
4,3x3 Basketball,0.0,2020,People's Republic of China,82.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
32717,Wrestling,1.0,2020,Sweden,175.0,2,0,0,0
32718,Wrestling,1.0,2020,Tunisia,160.0,4,0,0,0
32719,Wrestling,1.0,2020,Turkey,112.0,1,1,0,0
32720,Wrestling,1.0,2020,Ukraine,109.0,3,2,0,0
32721,Wrestling,1.0,2020,United States of America,78.0,2,2,1,1

In [12]:
df.drop('AUCUNE', axis=1, inplace=True)
df

medal_type,discipline_title,cat,slug_game,country_name,country,BRONZE,GOLD,SILVER
0,3x3 Basketball,0.0,2020,Belgium,131.0,0,0,0
1,3x3 Basketball,0.0,2020,Japan,80.0,0,0,0
2,3x3 Basketball,0.0,2020,Latvia,157.0,0,1,0
3,3x3 Basketball,0.0,2020,Netherlands,179.0,0,0,0
4,3x3 Basketball,0.0,2020,People's Republic of China,82.0,0,0,0
...,...,...,...,...,...,...,...,...
32717,Wrestling,1.0,2020,Sweden,175.0,0,0,0
32718,Wrestling,1.0,2020,Tunisia,160.0,0,0,0
32719,Wrestling,1.0,2020,Turkey,112.0,1,0,0
32720,Wrestling,1.0,2020,Ukraine,109.0,2,0,0
32721,Wrestling,1.0,2020,United States of America,78.0,2,1,1

In [13]:
df['MEDALS'] = df['SILVER'] + df['BRONZE'] + df['GOLD']
df

medal_type,discipline_title,cat,slug_game,country_name,country,BRONZE,GOLD,SILVER,MEDALS
0,3x3 Basketball,0.0,2020,Belgium,131.0,0,0,0,0
1,3x3 Basketball,0.0,2020,Japan,80.0,0,0,0,0
2,3x3 Basketball,0.0,2020,Latvia,157.0,0,1,0,1
3,3x3 Basketball,0.0,2020,Netherlands,179.0,0,0,0,0
4,3x3 Basketball,0.0,2020,People's Republic of China,82.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
32717,Wrestling,1.0,2020,Sweden,175.0,0,0,0,0
32718,Wrestling,1.0,2020,Tunisia,160.0,0,0,0,0
32719,Wrestling,1.0,2020,Turkey,112.0,1,0,0,1
32720,Wrestling,1.0,2020,Ukraine,109.0,2,0,0,2
32721,Wrestling,1.0,2020,United States of America,78.0,2,1,1,4

In [14]:
df_data_2020 = df[df['slug_game'] == 2020].copy()
df_data_2020

medal_type,discipline_title,cat,slug_game,country_name,country,BRONZE,GOLD,SILVER,MEDALS
0,3x3 Basketball,0.0,2020,Belgium,131.0,0,0,0,0
1,3x3 Basketball,0.0,2020,Japan,80.0,0,0,0,0
2,3x3 Basketball,0.0,2020,Latvia,157.0,0,1,0,1
3,3x3 Basketball,0.0,2020,Netherlands,179.0,0,0,0,0
4,3x3 Basketball,0.0,2020,People's Republic of China,82.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
32717,Wrestling,1.0,2020,Sweden,175.0,0,0,0,0
32718,Wrestling,1.0,2020,Tunisia,160.0,0,0,0,0
32719,Wrestling,1.0,2020,Turkey,112.0,1,0,0,1
32720,Wrestling,1.0,2020,Ukraine,109.0,2,0,0,2
32721,Wrestling,1.0,2020,United States of America,78.0,2,1,1,4

In [15]:
df_man = df[df['cat'] == 0]
df_man

medal_type,discipline_title,cat,slug_game,country_name,country,BRONZE,GOLD,SILVER,MEDALS
0,3x3 Basketball,0.0,2020,Belgium,131.0,0,0,0,0
1,3x3 Basketball,0.0,2020,Japan,80.0,0,0,0,0
2,3x3 Basketball,0.0,2020,Latvia,157.0,0,1,0,1
3,3x3 Basketball,0.0,2020,Netherlands,179.0,0,0,0,0
4,3x3 Basketball,0.0,2020,People's Republic of China,82.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
32545,Wrestling,0.0,2020,Tunisia,160.0,0,0,0,0
32546,Wrestling,0.0,2020,Turkey,112.0,2,0,0,2
32547,Wrestling,0.0,2020,Ukraine,109.0,0,1,1,2
32548,Wrestling,0.0,2020,United States of America,78.0,2,2,1,5
32549,Wrestling,0.0,2020,Uzbekistan,100.0,1,0,0,1

In [16]:
df_man.rename(columns={'slug_game': 'année', 'discipline_title': 'sport', 'country_name': 'pays', 'MEDALS': 'médailles'}, inplace=True)
df_man

C:\Users\antho\AppData\Local\Temp\ipykernel_14420\3264097238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_man.rename(columns={'slug_game': 'année', 'discipline_title': 'sport', 'country_name': 'pays', 'MEDALS': 'médailles'}, inplace=True)

medal_type,sport,cat,année,pays,country,BRONZE,GOLD,SILVER,médailles
0,3x3 Basketball,0.0,2020,Belgium,131.0,0,0,0,0
1,3x3 Basketball,0.0,2020,Japan,80.0,0,0,0,0
2,3x3 Basketball,0.0,2020,Latvia,157.0,0,1,0,1
3,3x3 Basketball,0.0,2020,Netherlands,179.0,0,0,0,0
4,3x3 Basketball,0.0,2020,People's Republic of China,82.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
32545,Wrestling,0.0,2020,Tunisia,160.0,0,0,0,0
32546,Wrestling,0.0,2020,Turkey,112.0,2,0,0,2
32547,Wrestling,0.0,2020,Ukraine,109.0,0,1,1,2
32548,Wrestling,0.0,2020,United States of America,78.0,2,2,1,5
32549,Wrestling,0.0,2020,Uzbekistan,100.0,1,0,0,1

In [25]:
df_man = df_man.drop(df_man[(df_man['pays'] == 'Soviet Union') | (df_man['pays'] == 'MIX') ].index)

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error

# Préparation des données
X = df_man[['année', 'sport', 'pays']]
y = df_man['médailles']

# Encodage des variables catégorielles
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_encoded = encoder.fit_transform(X)

# Séparation des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Création du modèle
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Entraînement du modèle
model.fit(X_train, y_train)

# Prédiction sur l'ensemble de test
y_pred = model.predict(X_test)

# Évaluation du modèle
mae = mean_absolute_error(y_test, y_pred)
print(f'Erreur absolue moyenne : {mae}')

# Fonction pour prédire le nombre de médailles par pays pour une année et un sport donnés
def predire_medailles_par_pays(annee, sport):
    # Filtrer les pays pour l'année et le sport donnés
    pays_list = df_man['pays'].unique()
    predictions = []
    for pays in pays_list:
        input_data = pd.DataFrame({'année': [annee], 'sport': [sport], 'pays': [pays]})
        
        # Utiliser les mêmes colonnes que lors de l'encodage initial
        input_encoded = encoder.transform(input_data[['année', 'sport', 'pays']])
        
        prediction = model.predict(input_encoded)
        predictions.append((pays, prediction[0]))
    
    # Trier les pays par nombre de médailles prédites
    predictions.sort(key=lambda x: x[1], reverse=True)
    print(predictions)
    return predictions

# Exemple de prédiction
annee = 2024
sport = 'Rugby'
predictions = predire_medailles_par_pays(annee, sport)

# Affichage du pays avec le plus de médailles prédites
print(f'Pays avec le plus de médailles en {sport} en {annee} : {predictions[0][0]} avec {predictions[0][1]} médailles')

Erreur absolue moyenne : 0.4669126111983255
[('Fiji', 0.75), ('Australasia', 0.75), ('South Africa', 0.66), ('Haiti', 0.66), ('Gabon', 0.66), ('Luxembourg', 0.65), ('Philippines', 0.65), ('Puerto Rico', 0.65), ('Costa Rica', 0.65), ('Ireland', 0.65), ('Thailand', 0.65), ('Malta', 0.65), ('Zimbabwe', 0.65), ('Bhutan', 0.65), ('Chinese Taipei', 0.65), ('Colombia', 0.65), ('Hong Kong, China', 0.65), ('Monaco', 0.65), ('Portugal', 0.65), ('Saudi Arabia', 0.65), ('Solomon Islands', 0.65), ('Cyprus', 0.65), ('Guam', 0.65), ('San Marino', 0.65), ('American Samoa', 0.65), ('El Salvador', 0.65), ('Mauritius', 0.65), ('Vanuatu', 0.65), ("Lao People's Democratic Republic", 0.65), ('Tonga', 0.65), ('Myanmar', 0.65), ('Samoa', 0.65), ('Bangladesh', 0.65), ('Ivory Coast', 0.65), ('Republic of Moldova', 0.65), ('Venezuela', 0.65), ('Libya', 0.65), ('Malawi', 0.65), ('Nepal', 0.65), ('Virgin Islands, US', 0.65), ('Bohemia', 0.65), ('Newfoundland', 0.65), ('Ecuador', 0.65), ('Peru', 0.65), ('Guyana', 0.65), ('Jamaica', 0.65), ('Liechtenstein', 0.65), ('Panama', 0.65), ('Singapore', 0.65), ('Sri Lanka', 0.65), ('Trinidad and Tobago', 0.65), ('Guatemala', 0.65), ('Nigeria', 0.65), ('South Vietnam', 0.65), ('Iraq', 0.65), ('Liberia', 0.65), ('Malaya', 0.65), ('North Borneo', 0.65), ('Uganda', 0.65), ('Afghanistan', 0.65), ('Bahamas', 0.65), ('Morocco', 0.65), ('Somalia', 0.65), ('Suriname', 0.65), ('West Indies Federation', 0.65), ('Bolivia', 0.65), ('Chad', 0.65), ('Congo', 0.65), ('Madagascar', 0.65), ('Mali', 0.65), ('Senegal', 0.65), ('United Republic of Tanzania', 0.65), ('Zambia', 0.65), ('Honduras', 0.65), ('Kuwait', 0.65), ('Nicaragua', 0.65), ('Sierra Leone', 0.65), ('Barbados', 0.65), ('Benin', 0.65), ('Cambodia', 0.65), ('Lebanon', 0.65), ('Paraguay', 0.65), ('Sudan', 0.65), ('Swaziland', 0.65), ('Togo', 0.65), ('Belize', 0.65), ('Bermuda', 0.65), ('Central African Republic', 0.65), ('Dominican Republic', 0.65), ('Papua New Guinea', 0.65), ('US Virgin Islands', 0.65), ('Algeria', 0.65), ('Angola', 0.65), ('Lesotho', 0.65), ('Seychelles', 0.65), ('Botswana', 0.65), ('Democratic Republic of the Congo', 0.65), ('Djibouti', 0.65), ('Jordan', 0.65), ('Oman', 0.65), ('Yemen Arab Republic', 0.65), ('Antigua and Barbuda', 0.65), ('Guinea', 0.65), ('Maldives', 0.65), ('Niger', 0.65), ('Rwanda', 0.65), ('Aruba', 0.65), ('Bahrain', 0.65), ('Gambia', 0.65), ('Mauritania', 0.65), ('Namibia', 0.65), ('Syrian Arab Republic', 0.65), ('Yemen', 0.65), ('Andorra', 0.65), ('Bosnia and Herzegovina', 0.65), ('Burundi', 0.65), ('Cape Verde', 0.65), ('Kyrgyzstan', 0.65), ('Saint Vincent and the Grenadines', 0.65), ('Federated States of Micronesia', 0.65), ('Nauru', 0.65), ('Palestine', 0.65), ('Saint Kitts and Nevis', 0.65), ('Democratic Republic of Timor-Leste', 0.65), ('Equatorial Guinea', 0.65), ('Eritrea', 0.65), ('Grenada', 0.65), ('Saint Lucia', 0.65), ('Montenegro', 0.65), ('Netherlands Antilles', 0.65), ('Refugee Olympic Athletes', 0.65), ('South Sudan', 0.65), ('Burkina Faso', 0.65), ('Refugee Olympic Team', 0.65), ('Virgin Islands, British', 0.65), ('Brunei', 0.65), ('Saar', 0.65), ('Rhodesia', 0.65), ('United Arab Republic', 0.65), ('Cook Islands', 0.65), ('Mozambique', 0.65), ('Yemen Democratic Republic', 0.65), ('Turkmenistan', 0.65), ('Eswatini', 0.65), ('The Former Yugoslav Republic of Macedonia', 0.65), ('Sao Tome and Principe', 0.65), ('Cayman Islands', 0.65), ('Albania', 0.65), ('Kosovo', 0.65), ("Côte d'Ivoire", 0.65), ('Comoros', 0.65), ('British Virgin Islands', 0.65), ('North Macedonia', 0.65), ('Dominica', 0.65), ('Palau', 0.65), ('Marshall Islands', 0.65), ('Kiribati', 0.65), ('Tuvalu', 0.65), ('Guinea-Bissau', 0.65), ('Qatar', 0.64), ('Tunisia', 0.64), ('Iceland', 0.64), ('Cameroon', 0.64), ('United Arab Emirates', 0.64), ('Tajikistan', 0.64), ('Mexico', 0.63), ('Egypt', 0.63), ('Uruguay', 0.63), ('Chile', 0.62), ('Pakistan', 0.62), ('United States of America', 0.61), ('India', 0.61), ('Estonia', 0.61), ('Israel', 0.61), ('Vietnam', 0.61), ('Armenia', 0.61), ('Ghana', 0.61), ('Romania', 0.59), ('Slovenia', 0.59), ('Malaysia', 0.59), ('Latvia', 0.58), ('Ethiopia', 0.58), ('Turkey', 0.56), ('Argentina', 0.55), ('Kazakhstan', 0.55), ('Greece', 0.55), ('Lithuania', 0.55), ('Serbia and Montenegro', 0.55), ('Austria', 0.54), ('German Democratic Republic (Germany)', 0.53), ('Azerbaijan', 0.53), ('Belarus', 0.51), ('Islamic Republic of Iran', 0.51), ('Independent Olympic Athletes', 0.49), ("Democratic People's Republic of Korea", 0.46), ('Mongolia', 0.45), ('Norway', 0.43), ('Serbia', 0.39), ('Uzbekistan', 0.38), ('Bulgaria', 0.35), ('Czech Republic', 0.34), ('Indonesia', 0.33), ('Finland', 0.32), ('Czechoslovakia', 0.32), ('Canada', 0.31), ('Yugoslavia', 0.31), ('Croatia', 0.28), ('Ukraine', 0.27), ('Slovakia', 0.25), ('Belgium', 0.22), ('Kenya', 0.2), ('Georgia', 0.17), ('Great Britain', 0.16), ('Cuba', 0.15), ('Switzerland', 0.14), ('New Zealand', 0.13), ('Brazil', 0.1), ('Poland', 0.09), ('Denmark', 0.08), ('Spain', 0.06), ('ROC', 0.05), ('Germany', 0.05), ('Federal Republic of Germany', 0.04), ('France', 0.03), ('Unified Team', 0.03), ('Russian Federation', 0.03), ('Japan', 0.0), ('Netherlands', 0.0), ("People's Republic of China", 0.0), ('Australia', 0.0), ('Hungary', 0.0), ('Italy', 0.0), ('Sweden', 0.0), ('Republic of Korea', 0.0)]
Pays avec le plus de médailles en Rugby en 2024 : Fiji avec 0.75 médailles

In [27]:
# Importation des bibliothèques
import pickle
import os
# Création d'un dossier s'il n'existe pas
if not os.path.exists('./models'):
    os.mkdir('models')
    pass
# Sauvegarde du modèle
pickle.dump(model, open('./models/modelsportmen.pkl','wb'))

In [ ]:
df_woman = df[df['cat'] == 1]
df_woman

medal_type  sport  cat  slug_game  country  BRONZE  GOLD  SILVER
1147          5.0  1.0       1984     76.0       0     0       0
1148          5.0  1.0       1984     78.0       1     1       1
1149          5.0  1.0       1984     80.0       0     0       0
1150          5.0  1.0       1984     81.0       1     0       0
1151          5.0  1.0       1984     82.0       1     1       0
...           ...  ...        ...      ...     ...   ...     ...
32694        67.0  1.0       1908    175.0       0     0       0
32695        67.0  1.0       1920     78.0       1     0       0
32696        67.0  1.0       1920     83.0       0     0       0
32697        67.0  1.0       1920     91.0       0     0       0
32698        67.0  1.0       1920    175.0       0     1       1

[10021 rows x 7 columns]

In [ ]:
df_team = df[df['cat'] == 2]
df_team

medal_type  sport  cat  slug_game  country  BRONZE  GOLD  SILVER
1678          5.0  2.0       1908     78.0       0     1       0
1679          5.0  2.0       1908     83.0       0     0       1
1680          5.0  2.0       1908     91.0       0     0       0
1681          5.0  2.0       1908    105.0       0     0       0
1682          5.0  2.0       1908    107.0       0     0       0
...           ...  ...        ...      ...     ...   ...     ...
28724        48.0  2.0       2020     88.0       0     0       0
28725        48.0  2.0       2020    109.0       0     0       0
28726        48.0  2.0       2020    122.0       0     0       0
28727        48.0  2.0       2020    152.0       0     1       0
31149        55.0  2.0       1900    105.0       0     0       0

[80 rows x 7 columns]

In [ ]:
df_mixed = df[df['cat'] == 3]
df_mixed

medal_type  sport  cat  slug_game  country  BRONZE  GOLD  SILVER
1678          5.0  2.0       1908     78.0       0     1       0
1679          5.0  2.0       1908     83.0       0     0       1
1680          5.0  2.0       1908     91.0       0     0       0
1681          5.0  2.0       1908    105.0       0     0       0
1682          5.0  2.0       1908    107.0       0     0       0
...           ...  ...        ...      ...     ...   ...     ...
28724        48.0  2.0       2020     88.0       0     0       0
28725        48.0  2.0       2020    109.0       0     0       0
28726        48.0  2.0       2020    122.0       0     0       0
28727        48.0  2.0       2020    152.0       0     1       0
31149        55.0  2.0       1900    105.0       0     0       0

[80 rows x 7 columns]

In [ ]:
df_indiv = df[df['cat'] == 4]
df_indiv

medal_type  sport  cat  slug_game  country  BRONZE  GOLD  SILVER
1958          5.0  4.0       1972     76.0       0     0       0
1959          5.0  4.0       1972     78.0       0     0       1
1960          5.0  4.0       1972     80.0       0     0       0
1961          5.0  4.0       1972     81.0       0     0       0
1962          5.0  4.0       1972     83.0       0     0       0
...           ...  ...        ...      ...     ...   ...     ...
32531        59.0  4.0       2016    266.0       0     0       0
32677        66.0  4.0       1920    105.0       0     0       1
32678        66.0  4.0       1920    131.0       1     1       0
32679        66.0  4.0       1920    175.0       0     0       0
32720        74.0  4.0       1900    105.0       0     0       0

[1466 rows x 7 columns]

In [ ]:
# Séparation des caractéristiques et de la cible
mlX, mly = df[['year', 'countryId']].values, df[['gold', 'silver', 'bronze']].values

KeyError: "None of [Index(['year', 'countryId'], dtype='object', name='medal_type')] are in the [columns]"